<h2>{{movie.title}}</h2>
<h3>{{movie.genre}}</h3>
<p>{{movie.plot}}</p>
<ul>
    {{#each movie.cast}}
    <li>{{this.name}}</li> {{!-- .name help us to show just name. no more ID no --}}
    {{else}}
    there is no celebrities to show
    {{/each}}
</ul>
<form action="/movies/{{movie.id}}/delete" method="post">
<button type="submit">delete</button>
</form>
<a href="/movies/{{movie.id}}/edit">edit</a>